#icon img {
    max-height: 100px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #3b3b3b;
    color: white;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

#nav ul li a:hover {
    color: yellow;
}

.btns {
    background-color: yellow;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.btns:hover {
    background-color: rgb(255, 253, 183)
}




#intro img{
    width: 100vw;
    height: 100vh;
    object-fit:fill;
    object-position: center; 
}



#about {
    margin-top: 80px;
    padding: 60px 20px;
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

#abtext h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
}

#abtext p {
    font-size: 18px;
    line-height: 1.5;
    color: #494949;
    padding-right: 40px;
}

#about img {
    flex: 2;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}









#gallery {
    padding: 80px 40px;
    background-color: white;
    text-align: center;
    
}

h2 {
    font-size: 2.5rem;
    color: #383838;
    margin-bottom: 80px;
}

#gallerybox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 60px;
}

.galleryitem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.galleryitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.galleryitem:hover img {
    transform: scale(1.1);
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
}

.galleryitem:hover .title {
    background-color: rgba(0, 0, 0, 0.8);
}










#location {
    padding: 50px 40px;
    background-color: white;
    text-align: center;

}

#map {
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#contact {
    margin-top: 80px;
    text-align: left;
    padding: 0 180px;
}

#contact h2 {
    text-align: center;
}

#contact h3 {
    font-size: 1.75rem;
    margin-bottom: 15px;
    color: #393939;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#contact p {
    font-size: 1.3rem;
    margin: 10px 0;
}

#contact a {
    color: blue;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}











#book {
    padding: 50px 40px;
    background-color: aliceblue;
    text-align: center;
}


.forminput {
    margin-bottom: 20px;
    text-align: left;
}

.forminput label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.forminput input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}

.forminput select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}


#submit {
    justify-items: center;
    background-color: blue;
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#submitcenter {
    display: flex;
    justify-content: center;
}

#submit:hover {
    background-color: rgb(103, 179, 255);
}





footer {
    background-color: #343434;
    color: white;
    padding: 60px 40px;
    text-align: center;

}

footer p {
    padding-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 60px;
    font-size: 14px;
}




/* transitions for elements */

.transition.left {
    opacity: 0; 
    transform: translateX(-30px); 
    transition: opacity 1s ease-out, transform 1.5s ease-out; 
}

.transition.left.show {
    opacity: 1;
    transform: translateX(0); 
}

.transition.right{
    opacity: 0; 
    transform: translateX(30px); 
    transition: opacity 1s ease-out, transform 1.5s ease-out; 
}
.transition.right.show {
    opacity: 1;
    transform: translateX(0); 
}